@use '../../sass/variables'

.invoiceDetail, .invoiceDetail-dark
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    background-color: variables.$light-color
    transition: .4s
    position: relative
    overflow-y: auto

    &-container
        width: 45%
        min-width: 660px
        display: flex
        flex-direction: column
        position: relative
        margin: auto 0
        padding-top: 2rem
        padding-bottom: 2rem
        
        @media (max-width: 1000px)
            margin-top: 10rem
        @media (max-width: 750px)
            min-width: 90%
        @media (max-width: 550px)
            margin-top: 7rem
        .goBack
            font-weight: 600
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 1rem
            margin-bottom: 1.5rem
            cursor: pointer
            transition: .4s

            i
                color: variables.$purple-color

        @media (hover: hover)
            .goBack:hover
                color: rgba(0, 0, 0, 0.5)

        .edit-invoice-container
            height: 88px
            background-color: #fff
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0 2rem
            border-radius: 8px
            transform: translate(0, -50%)
            opacity: 0
            margin-bottom: 1.5rem

            .Pending
                display: flex
                gap: 1rem
                align-items: center
                @media (max-width: 750px)
                    width: 100%
                    justify-content: space-between

                span
                    color: variables.$grayPurple-dark-color

                p
                    width: 104px
                    height: 40px
                    background: rgba(255, 143, 0, 0.1)
                    color: #ff8f00
                    font-size: 1rem
                    border-radius: 8px
                    display: flex
                    justify-content: center
                    align-items: center
                    gap: .5rem

                    i
                        color: #ff8f00
                        font-size: 0.6rem
            
            .Draft
                display: flex
                gap: 1rem
                align-items: center
                @media (max-width: 750px)
                    width: 100%
                    justify-content: space-between

                span
                    color: variables.$grayPurple-dark-color

                p
                    width: 104px
                    height: 40px
                    background: rgba(0, 0, 0, 0.1)
                    color: variables.$dark-ligth-color
                    font-size: 1rem
                    border-radius: 8px
                    display: flex
                    justify-content: center
                    align-items: center
                    gap: .5rem

                    i
                        color: variables.$dark-ligth-color
                        font-size: 0.6rem
            
            .Paid
                display: flex
                gap: 1rem
                align-items: center
                @media (max-width: 750px)
                    width: 100%
                    justify-content: space-between

                span
                    color: variables.$grayPurple-dark-color

                p
                    width: 104px
                    height: 40px
                    background: rgba(51, 214, 159, 0.15)
                    color: #33D69F
                    font-size: 1rem
                    border-radius: 8px
                    display: flex
                    justify-content: center
                    align-items: center
                    gap: .5rem

                    i
                        color: #33D69F
                        font-size: 0.6rem
            

            .edit
                display: flex
                gap:.5rem
                @media (max-width: 750px)
                    display: none

        .invoice-details
            display: flex
            flex-direction: column
            background-color: #fff
            border-radius: 8px
            padding: 2rem
            gap: 1rem
            transform: translate(0, 15%) 
            opacity: 1
            @media (max-width: 750px)
                border-radius: 8px 8px 0 0

            .group1
                display: flex
                justify-content: space-between
                @media (max-width: 750px)
                    flex-direction: column
                    align-items: flex-start
                    gap: 1.5rem

                .invoice-description
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-items: flex-start

                    h3
                        span
                            color: variables.$grayPurple-dark-color
                    p
                        color: variables.$grayPurple-dark-color
                        font-size: 1rem
                
                .address-from
                    display: flex
                    flex-direction: column
                    align-items: flex-end
                    color: variables.$grayPurple-dark-color
                    gap: .2rem
                    @media (max-width: 750px)
                        align-items: flex-start

                    p
                        font-size: 1rem

            .group2
                display: flex
                justify-content: space-between
                flex-wrap: wrap
                @media (max-width: 750px)
                    margin-top: 1.5rem

                .dates
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    @media (max-width: 750px)
                        width: 48%

                    .invoice-date
                        span
                            color: variables.$grayPurple-dark-color
                            margin-bottom: .8rem
                            display: block

                        p
                            font-weight: bold
                            font-size: 1.3rem
                
                .address-to
                    @media (max-width: 750px)
                        width: 48%
                        padding-left: .5rem
                    span
                        color: variables.$grayPurple-dark-color
                        display: block
                        margin-bottom: .8rem
                    
                    p
                        color: variables.$grayPurple-dark-color
                        font-size: 1rem

                    .clientName
                        font-weight: bold
                        font-size: 1.3rem
                        color: #000
                        margin-bottom: .8rem

                .email
                    @media (max-width: 750px)
                        margin-top: 2rem
                    span
                        color: variables.$grayPurple-dark-color
                        margin-bottom: .8rem
                        display: block
                    
                    p
                        font-weight: bold
                        font-size: 1.3rem
                        color: #000
                        margin-bottom: .8rem 
            
            .group3
                display: flex
                justify-content: space-between
                background-color: #f9fafe
                border-radius: 8px 8px 0 0
                margin-top: 2rem
                padding: 2rem
                flex-direction: column
                gap: 2rem
                    

                .name
                    width: 40%
                
                .qty
                    width: 10%  
                    text-align: center

                .price
                    width: 25%
                    text-align: right

                .total
                    width: 25%
                    text-align: right

                .titles
                    display: flex
                    justify-content: space-between
                    color: variables.$grayPurple-dark-color
                    @media (max-width: 600px)
                        display: none
                    
                    p
                        font-size: 1rem
                
                .items
                    flex-direction: column
                    display: flex
                    gap: 2rem

                    .item
                        display: flex
                        justify-content: space-between
                        @media (max-width: 600px)
                            flex-wrap: wrap
                            justify-content: flex-start

                        .name, .total
                            font-weight: bold
                        
                        .name
                            @media (max-width: 600px)
                                width: 100%
                                margin-bottom: 1rem
                            
                        .total
                            @media (max-width: 600px)
                                margin-left: auto

                        .price, .qty
                            font-weight: bold
                            color: variables.$grayPurple-dark-color
                            font-size: 1rem
                            @media (max-width: 600px)
                                text-align: left


            .amount-due
                background-color: variables.$dark-ligth-color  
                border-radius: 0 0 8px 8px
                padding: 2rem   
                color: #fff
                display: flex
                justify-content: space-between
                margin-top: -1rem

                p
                    font-weight: 600
                    font-size: 2rem

                span
                    font-size: 1.2rem

    .btn-container
        display: none
        justify-content: flex-end
        gap: 1rem
        background-color: #fff
        height: 100px
        align-items: center
        width: 100%
        padding: 0 2rem
        padding-bottom: 1.5rem
        border-radius: 0px 0px 8px 8px
        @media (max-width: 750px)
            display: flex
            margin-bottom: 2rem

        button
            width: 30%
    
    .delete-container
        z-index: 13
        position: absolute
        background-color: #fff
        padding: 4rem 4rem
        border-radius: 8px
        width: 30%
        top: 50%
        transform: translate(0,-50%)
        min-width: 400px
        display: block
        @media (max-width: 750px)
            top: 35%
        @media (max-width: 500px)
            min-width: 300px
            width: 80%

        h2
            margin-bottom: 2rem
            line-height: 35px
        
        p
            color: variables.$grayPurple-dark-color
            margin-bottom: 2rem

        div
            display: flex
            justify-content: flex-start
            gap: 1rem

    .delete-filter
        width: 100%
        height: 100%
        left: 0
        top: 0
        position: absolute
        background: rgba(0, 0, 0, 0.4)
        display: block
        z-index: 12

.formFilter
    width: 100%
    height: 100%
    left: 0
    top: 0
    position: absolute
    background: rgba(0, 0, 0, 0.4)
    display: block
    z-index: 10

.invoiceDetail-dark
    background-color: variables.$darkMode-bg

    .btn-container
        background-color: #1E2139 !important

    h1, p, h3, h2
        color: #fff !important
    
    span
        color: rgba(255, 255, 255, 0.8) !important

    .edit-invoice-container, .invoice-details
        background-color: #1E2139
    
    .group3
        background-color: variables.$darkMode-bg !important
    
    .amount-due
        background-color: #000 !important

        span
            color: #fff !important

    .Pending
        span
            color: #fff !important

        p
            color: #ff8f00 !important
    
    .Paid
        span
            color: #fff !important

        p
            color: #33D69F !important

    .Draft
        p
            background-color: rgba(255, 255, 255, 0.1) !important
            i
                color: #fff !important

    .editInvoice
        background-color: variables.$darkMode-bg

        span
            color: #fff !important

        .save-changes
            background-color: variables.$darkMode-bg

        input
            background-color: variables.$dark-ligth-color 
            border: none !important
            color: #fff

        input::placeholder
            color: rgba(255, 255, 255, 0.7)
        
        i
            color: variables.$grayDark-color

        select 
            background-color: variables.$dark-ligth-color 
            color: #fff
            border: none
    
    .btn3-light
            background-color: variables.$dark-ligth-color !important
            color: variables.$grayPurple-light-color
    @media (hover: hover)
        .btn3-light:hover
            background-color: #fff !important
            color: variables.$grayPurple-dark-color !important
    

    .delete-container
        background-color: #1E2139

    .newInvoice
        background-color: variables.$darkMode-bg

        span
            color: #fff !important

        .save-changes
            background-color: variables.$darkMode-bg

        input
            background-color: variables.$dark-ligth-color 
            border: none !important
            color: #fff

        input::placeholder
            color: rgba(255, 255, 255, 0.7)
        
        i
            color: variables.$grayDark-color

        select 
            background-color: variables.$dark-ligth-color 
            color: #fff
            border: none
        
        .btn3-light
            background-color: variables.$dark-ligth-color !important
            color: variables.$grayPurple-light-color
        @media (hover: hover)
            .btn3-light:hover
                background-color: #fff !important
                color: variables.$grayPurple-dark-color !important